

.hero{
    background-image: url(hero-img.jpg);
    background-color: rgb(21, 19, 19);
    min-height: 50vh;
    padding: 2rem;
    background-size: cover;
    padding-top: 3rem;
    
}

.heading{
    font-size: 2rem;
    font-size: clamp(1rem, 6vw + .6rem, 5rem);
    line-height: 1.1;
    margin-bottom: .5rem;
    margin-top: 2.3rem;
    color: #fff;
    font-family: var(--ff-primary);
}
@media (min-width: 50em){
    .heading{
        width: 75%;
    }
}

@media (min-width: 87em){
    .heading{
        width: 60%;
    }
}




.heading-2{
    font-size: 25px;
    color: var(--theme-color);
    margin-bottom: .4rem;
}

@media (min-width: 50em){
    .heading-2{
        font-size: 40px;
    }
}

.paragraph{
    font-size: clamp(8px, 10vw + 8px, 20px);
    color: #fff;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 1rem;
    word-spacing: 2px;
}

@media (min-width: 50em){
    .paragraph{
        width: 55%;
    }
}

.hero-button{
    padding: 8px 16px;
    background-color: var(--theme-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}