
.footer{
  background-color: var(--blue-color);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-text{
    width: 100%;
}

@media screen and (min-width: 40em){
    .logo-text{
       
    width: max(33%, 250px);

    }
}

.logo-text h1{
    color: var(--theme-color);
    margin-top: 0;
    margin-bottom: 0;
   
}
.logo-text p{
    color: #fff;
}

.footer-links-con p{
    color : #fff;
    margin-bottom: .5rem;
    cursor: pointer;
}

.social-links{
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    
}

@media screen and (min-width: 33em){
    .social-links{
       
        flex-direction: column;
    }
}